html,body{
  width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;

}
.myButton{
background-color: Transparent;
border-radius:15px;
border:2px solid #8a0b6c;
display:inline-block;
cursor:pointer;
color: #8a0b6c;
font-family:Arial;
font-size:15px;
padding: 10px 20px;
margin-left: 10px;
margin-right: 15px;
text-shadow:0px 1px 0px #2f6627;

}
.myButton:hover {
background-color:#5c0e41;
color: white;
text-decoration: none;
}
.top-section{
  padding-top: 0;
  padding-left: 250px;
}
.button-top{
  padding-top: 100px;
  position: relative;
  left: -100px;
}
.input{
  background-color: Transparent;
  border-radius: 20px;
  border: 2px solid purple;
 box-shadow: 2px 1px;
 width: 300px;
 outline: none;




}
/* heading of quik register */
.register{
  background-color:transparent;
	border-radius:25px;
	border:4px solid #8a0b6c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: arial;
	font-size:30px;
	padding:0 15px;
	text-decoration: none;
	text-shadow:0px 1px 0px #2f6627;
  color: purple;
  margin-bottom: 2rem;
font-family: cursive;
}
.register:hover{
  text-decoration: none;
  color: purple;
}
/* text boxes styling */
.middle-comtainer{
 margin-left: 38rem;
 margin-top: 2rem;
 font-weight: bold;
 font-size: 18px;
 color: black;
 }
.padding{
  position: relative;
  right: 100px;
}
.text{
  line-height: 2;

}

/* submit button */
.submit-btn{
	background-color:#610945;
	border-radius:28px;
	display:inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
   margin: 60px 220px 60px 220px;
font-weight: normal;



}
.submit-btn:hover{
  color: white;
  text-decoration: none;
}


/* facebook etc link and its styling */
.link{
  position: relative;
  left:  -400px;
  bottom: 100px;

}
.nav{
  height: 0px;
}
.icon{
  font-size: 40px;
  margin-left: 50px;
  color: purple;
outline-style: none;



}
.icon:hover{
  color: white;
}
/* bootom section styling */
.bottom-section{
  background-image: url("images/footer-img.jpeg");
  height: 279px;
}
.top-container{
  padding-top: 50px;
  margin-left: 90px;
}
.top{
  padding-top: 100px;
}

.icon-menu{
  background-color: Transparent;
}
.icon-1 {

  padding: 20px 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  outline-style: none;

}
.icon-1:hover{
  outline-style: none;

}
.nav-button{
  outline-style: none;
  border: none;
  background-color: purple;
  border-radius:  10px;

}
.nav-button:hover{
outline-style: none;

}
.navbar-toggler{
  background-color: purple;
  outline-style: none;

}
.kk{
  visibility: hidden;
}
.kki{
visibility: hidden;
}
@media (max-width: 992px) {
.kk{
  visibility: visible;
}
.kki{
  visibility: visible;
}
.padding{
  position: relative;
  right: 0;
}
  .heading-img{
    width: 200px;
    height: 100px;

  }
  .middle-comtainer{
    position: relative;
    margin: auto;
    left: 30%;
    top: 10px;
  }


.link{
position: relative;
left: 0;
right: 0;
top: -50px;
bottom: 0;

}
.submit-btn{
  position: relative;
  right: 150px;
  bottom: 30px;
}
.top-section{
  padding-left: 0;
}
#top-section{
  background-size: 100% 100%;
}
/* }
kklk */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #cf7500; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

}
.icon{
  margin-right: auto;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}
.hr-style{
  background-color: white;
}
.heading-img{
  padding-left: 50px;
  width: 400px;
}
.link{
  visibility: hidden;
}
}
